{% extends 'main.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {% if object == None%}
        <p>Paciente no encontrado</p>
    {% else %}
        <p>¿Estas seguro de eliminar el paciente: "{{object.nombre }} {{object.apellidos}}"?</p>
        <input class="btn btn-dark" type="button" onclick="history.back()" name="volver atrás" value="Regresar">
        <input type="submit" class="btn btn-warning" value="Confirmar">
    {% endif %}
</form>

{% endblock content%}